body{
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255,);
}
.banner{
    background-color: rgb(73, 73, 250);
    padding: 0.8em;
}
div h1{
    color: white;
    font-family: verdana;
}
label{
    color: white;
    font-family: georgia;
    display: inline-block;
    
}
#a{
    border: 2px solid black;
    background-color: rgb(13, 13, 172);
    padding: 4px;
    color: white;
    font-weight: bold;
    font-family: verdana;
    position: relative;
    left: 0.3cm;
}
#a:hover{
    background-color: aquamarine;
    color: yellowgreen;
}
/* p{
    color: rgba(247,244,244,0.811);
    font-family: verdana;
    font-size: medium;
    position: absolute;
    left: 26.6cm;
    top: 1.8cm;
} */
p{
    position: absolute;
    left: 24cm;
    top: 11.8cm;
    
}
#gg{
    color: rgb(83, 83, 248);
}
.ff{
    position: absolute;
    left: 8.7cm;

}
#ff{
    position: absolute;
    top: 8.05cm;
}
#ss{
    position: absolute;
    top: 9.4cm;
    left: 7.7cm;
}
#tt{
    position: absolute;
    top:11.2cm;
    left: 6.3cm;
}
.form{
    position: absolute;
    left: 20.6cm;
    top: 0.8cm;

}
#we{
  position:absolute;
  left: 29.6cm;
  top: 1.9cm;
  color: white;

}
b{
    position: relative;
    bottom: 0.7cm;
    left: 1.9cm;
    

}
#c{
    position: relative;
    /* top: 0.3cm; */
   

}
.body h1{
    font-family: 'Trebuchet MS';
    color: black;
    font-weight: bolder;
    font-size: 38px;
    padding: 3% 0px 12px 6%;
}
span{
    font-weight: bolder;
    font-family: 'Trebuchet MS';
    position: absolute;
    left: 4cm;
    top: 0.5;
    padding-top: 20px;
}
#p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;

}
img{
    position: relative;
    left: 2cm;
}
.signup h1{
    position: absolute;
    left: 20cm;
    top: 3cm;
    font-family: verdana;
    font-weight: bolder;
    font-size: 33px;
    color: black;
    
}
.signup h4{
    position: absolute;
    left: 20cm;
    top: 4.5cm;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: black;
}
#d{
    position: absolute;
    left: 20cm;
    top: 6.3cm;
}
#d input{
 padding: 8px;

}
#k{
    position: absolute;
    left: 20cm;
    top: 1.3cm;

}
h3{
    position: absolute;
    left: -0.1cm;
    top: 3.7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 30px;
    color: black;
}
#o{
    background-color: rgb(81, 226, 45);
    border-radius: 4px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    color: white;
}
#o:hover{
    background-color: yellowgreen;
    color: black;
}



